@model IEnumerable<ERP_MVC.Praga>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPraga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPraga.TipoPraga1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomePraga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgPraga)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPraga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPraga.TipoPraga1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomePraga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImgPraga)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPraga }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPraga }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPraga })
        </td>
    </tr>
}

</table>
