@model ERP_MVC.Agendamento

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Agendamento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdAgendamento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdAgendamento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdOrcamento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdOrcamento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataPrevisao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataPrevisao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Periodo.Periodo1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Periodo.Periodo1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HoraAgendada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoraAgendada)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HoraIni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoraIni)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HoraFim)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoraFim)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdTecnico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdTecnico)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdLocal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdLocal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Disponibilidade.Disponibilidade1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Disponibilidade.Disponibilidade1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusAgendamento.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusAgendamento.Status)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
