@model IEnumerable<ERP_MVC.Agendamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdAgendamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdOrcamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPrevisao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodo.Periodo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraAgendada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraIni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTecnico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponibilidade.Disponibilidade1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusAgendamento.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdAgendamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdOrcamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPrevisao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo.Periodo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraAgendada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraIni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTecnico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdLocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponibilidade.Disponibilidade1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusAgendamento.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
