@model IEnumerable<ERP_MVC.Pedido>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusPedido.StatusPedido1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusPedido.StatusPedido1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdPedido }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdPedido }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdPedido })
        </td>
    </tr>
}

</table>
