@model ERP_MVC.Funcionario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Funcionario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdFuncionario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdFuncionario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataNascimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataNascimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sexo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sexo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrgEmissRG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrgEmissRG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataEmissRG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataEmissRG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CNH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CNH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Departamento.Departamento1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Departamento.Departamento1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Profissao.Profissao1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Profissao.Profissao1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nivel.Nivel1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nivel.Nivel1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegimeContratacao.RegimeContratacao1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegimeContratacao.RegimeContratacao1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataAdmissao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataAdmissao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Beneficio.IdBeneficio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Beneficio.IdBeneficio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataInclusao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataInclusao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
