@model IEnumerable<ERP_MVC.ClientePJ>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listagem de Clientes Pessoa Jurídica Cadastrados</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdClientePJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCliente.TipoCliente1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSegmento.TipoSegmento1)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdClientePJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCliente.TipoCliente1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSegmento.TipoSegmento1)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdClientePJ }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdClientePJ }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdClientePJ })
        </td>
    </tr>
}

</table>
