@model ERP_MVC.Cliente

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HtmlHelper.ClientValidationEnabled = true;
    
    <script src="~/Scripts/jquery.maskedinput-1.3.min.js"></script>
    
    <script type="text/javascript" lang="javascript">
        var $IS = jQuery.noConflict();

        $IS(document).ready(function () {

            $IS("#CPF").mask("999.999.999-99");
            $IS("#RG").mask("99.999.999-9");
            $IS("#DataExpedicao").mask("99/99/9999");
            $IS("#OrgaoEmissor").mask("AAA/AA");
            $IS("#DataNascimento").mask("99/99/9999");
            $IS("#CNPJ").mask("99.999.999/9999-99");
            $IS("#DataFundacao").mask("99/99/9999");
            $IS("#CEP").mask("99999-999");
            $IS("#FoneContato").mask("(99)?99999-9999");
            $IS("#CelContato").mask("(99)?99999-9999");
            $IS("#FoneComlContato").mask("(99)?99999-9999");

            $IS('#divPF').hide();
            $IS('#divPJ').hide();
            $IS('#divEndereco').hide();
            $IS('#divEmail').hide();

            $IS("#IdTipoCliente").change(function () {
                if ($IS("#IdTipoCliente").val() == 1) {//PF
                    $IS('#divPF').show();
                    $IS('#divPJ').hide();
                    $IS('#divEndereco').show();
                    $IS('#divEmail').show();
                } else if ($IS("#IdTipoCliente").val() == 2 || $IS("#IdTipoCliente").val() == 3) { //PJ ou Parceiros
                    $IS('#divPF').hide();
                    $IS('#divPJ').show();
                    $IS('#divEndereco').show();
                    $IS('#divEmail').show();
                } else {//Nenhum
                    $IS('#divPF').hide();
                    $IS('#divPJ').hide();
                    $IS('#divEndereco').hide();
                    $IS('#divEmail').hide();
                }
            });
        });
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cliente</legend>

        <div class="editor-label">
            @Html.HiddenFor(model => model.IdCliente)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoCliente, "TipoCliente")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipoCliente", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTipoCliente)
        </div>

        <div id="divPF">
            <div class="editor-label">
                @Html.LabelFor(model => model.Nome)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Nome, new { @class = "validate[required,maxSize[8]]" })
                @Html.ValidationMessageFor(model => model.Nome)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CPF)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CPF)
                @Html.ValidationMessageFor(model => model.CPF)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.RG)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RG)
                @Html.ValidationMessageFor(model => model.RG)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DataExpedicao)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DataExpedicao)
                @Html.ValidationMessageFor(model => model.DataExpedicao)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.OrgaoEmissor)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OrgaoEmissor)
                @Html.ValidationMessageFor(model => model.OrgaoEmissor)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CNH)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CNH)
                @Html.ValidationMessageFor(model => model.CNH)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DataNascimento)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DataNascimento)
                @Html.ValidationMessageFor(model => model.DataNascimento)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Sexo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Sexo)
                @Html.ValidationMessageFor(model => model.Sexo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IdProfisao, "Profissao")
            </div>
            <div class="editor-field">
                @Html.DropDownList("IdProfisao", String.Empty)
                @Html.ValidationMessageFor(model => model.IdProfisao)
            </div>
        </div>

        <div id="divPJ">
            <div class="editor-label">
                @Html.LabelFor(model => model.NomeFantasia)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NomeFantasia)
                @Html.ValidationMessageFor(model => model.NomeFantasia)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.RazaoSocial)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RazaoSocial)
                @Html.ValidationMessageFor(model => model.RazaoSocial)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CNPJ)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CNPJ)
                @Html.ValidationMessageFor(model => model.CNPJ)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IdTipoSegmento, "TipoSegmento")
            </div>
            <div class="editor-field">
                @Html.DropDownList("IdTipoSegmento", String.Empty)
                @Html.ValidationMessageFor(model => model.IdTipoSegmento)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.AreaAtividade)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AreaAtividade)
                @Html.ValidationMessageFor(model => model.AreaAtividade)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.NomeSocios)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NomeSocios)
                @Html.ValidationMessageFor(model => model.NomeSocios)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DataFundacao)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DataFundacao)
                @Html.ValidationMessageFor(model => model.DataFundacao)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.NumFuncionarios)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NumFuncionarios)
                @Html.ValidationMessageFor(model => model.NumFuncionarios)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.InscEsdual)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.InscEsdual)
                @Html.ValidationMessageFor(model => model.InscEsdual)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.InsMunicipal)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.InsMunicipal)
                @Html.ValidationMessageFor(model => model.InsMunicipal)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Site)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Site)
                @Html.ValidationMessageFor(model => model.Site)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Matriz)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Matriz)
                @Html.ValidationMessageFor(model => model.Matriz)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.GrupoEmpresarial)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.GrupoEmpresarial)
                @Html.ValidationMessageFor(model => model.GrupoEmpresarial)
            </div>
        </div>

        <div id="divEmail">
            <div class="editor-label">
                @Html.LabelFor(model => model.EMail)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EMail)
                @Html.ValidationMessageFor(model => model.EMail)
            </div>
        </div>

        <div id="divEndereco">
            <div class="editor-label">
                @Html.LabelFor(model => model.IdCidade, "Cidade")
            </div>
            <div class="editor-field">
                @Html.DropDownList("IdCidade", String.Empty)
                @Html.ValidationMessageFor(model => model.IdCidade)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IdTipoEndereco, "TipoEndereco")
            </div>
            <div class="editor-field">
                @Html.DropDownList("IdTipoEndereco", String.Empty)
                @Html.ValidationMessageFor(model => model.IdTipoEndereco)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Endereco)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Endereco)
                @Html.ValidationMessageFor(model => model.Endereco)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Numero)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Numero)
                @Html.ValidationMessageFor(model => model.Numero)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Complemento)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Complemento)
                @Html.ValidationMessageFor(model => model.Complemento)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Bairro)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Bairro)
                @Html.ValidationMessageFor(model => model.Bairro)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CEP)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CEP)
                @Html.ValidationMessageFor(model => model.CEP)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PontoReferencia)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PontoReferencia)
                @Html.ValidationMessageFor(model => model.PontoReferencia)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.FoneContato)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FoneContato)
                @Html.ValidationMessageFor(model => model.FoneContato)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CelContato)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CelContato)
                @Html.ValidationMessageFor(model => model.CelContato)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.FoneComlContato)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FoneComlContato)
                @Html.ValidationMessageFor(model => model.FoneComlContato)
            </div>
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
